# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Tobias\Google Drive\Skole\Dataingeniør 2020-2021\Ingeniørfaglig innføringsemne\Legoprosjekt\INGT1001-LEGO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
